@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffdeb;
  color: #3d1602;
}

.main-screen {
  padding: 0 var(--horizontal-space);
}
